#puzzle-chamber {
    width: 100%;
    height: 100%;
}

#puzzle-chamber .background {
    fill: white;
}

#chamber-window {
    fill: none;
    stroke: rgb(30, 20, 20);
    stroke-width: 160;
    filter: url(#shadow-filter);
}

@media (max-aspect-ratio: 1/1) {
    .toolbar {
        transform: rotate(90deg);
    }
}

.colour-palette {
    cursor: pointer;
    stroke-width: 0;
    fill: currentColor;
    stroke: currentColor;
    transition: stroke-width 100ms ease-out
}

.colour-palette:hover, .colour-palette.selected {
    stroke-width: 3;
}

.colour-palette:focus {
    outline: none;
    stroke-width: 3;
    filter: url(#glow-filter);
}

.selected-colour-indicator {
    fill: none;
    stroke-width: 1;
    stroke: currentColor;
}

#puzzle .map-regions {
    stroke-width: 0.25;
    stroke: #fff;
}

#puzzle .no-fill {
    fill: #aaa;
}

#puzzle .colourable:focus {
    outline: none;
    filter: url(#glow-filter);
}

#puzzle.colour-selected .colourable {
    transition: stroke 200ms ease-out;
}

#puzzle.colour-selected .colourable:hover {
    cursor: pointer;
    stroke-width: 2;
    stroke: currentColor;
}

#puzzle .category {
    stroke-width: 2;
    fill-opacity: 0.2;
    stroke-opacity: 0.5;
    transition: fill 150ms ease-out;
}

.graph .graph-nodes {
    stroke-width: 1;
    stroke: #fff;
}

.graph .graph-nodes circle:focus {
    outline: none;
    stroke: currentColor;
    stroke-width: 0.3;
    filter: url(#glow-filter);
}

.graph .graph-edges {
    stroke-width: 3;
    stroke: #666;
}

.graph .edge-outline {
    stroke-width: 4;
    stroke: #fff;
}

.reflection-line {
    stroke-width: 0.5;
    stroke: #222;
    stroke-dasharray: 2 2;
}

.no-pointer {
    pointer-events: none;
}
