#puzzle .map-regions {
    stroke-width: 0.25;
    stroke: #fff;
}

#puzzle .colourable {
    stroke-width: 2;
    transition: fill 200ms ease-out;
    transition: stroke 200ms ease-out;
}

#puzzle .no-fill.colourable {
    stroke: #aaa;
    fill: white;
}

#puzzle .colourable:focus {
    outline: none;
    filter: url(#glow-filter);
}

#puzzle.colour-selected .colourable {
    transition: stroke 200ms ease-out;
}

#puzzle.colour-selected .colourable:hover {
    /* fill: currentColor; */
    stroke-width: 2;
    stroke: currentColor;
    cursor: pointer;
}

#puzzle .category {
    stroke-width: 2;
    fill-opacity: 0.2;
    stroke-opacity: 0.5;
    transition: fill 150ms ease-out;
}

.graph .graph-nodes circle:focus {
    outline: none;
    stroke: currentColor;
    stroke-width: 0.3;
    filter: url(#glow-filter);
}

.reflection-line {
    stroke-width: 0.5;
    stroke: #222;
    stroke-dasharray: 2 2;
}

.no-pointer {
    pointer-events: none;
}
