.puzzle-map .map-link {
    min-width: 100px;
    max-width: 100px;
}

.map-link .spotlight {
    fill: white;
    stroke: none;
}

.map-link .graph-edges {
    fill: none;
}

.map-link .graph-nodes * {
    stroke: white;
    stroke-width: 1;
    fill: #aaa;
    transition: fill 200ms ease-out
}

.map-link:hover .graph-nodes * {
    fill: currentColor;
}

.map-link .categories * {
    fill: white;
    opacity: 0.15;
    transition: fill 200ms ease-out
}

.map-link:hover .categories * {
    fill: currentColor;
}
