.puzzle-map .map-link {
    min-width: 100px;
    max-width: 100px;
}

.map-link .spotlight {
    fill: white;
    stroke: none;
    color: rgb(20, 146, 196);
}

.map-link .spotlight-outline {
    fill: none;
    stroke: none;
    stroke-width: 3px;
    color: rgb(20, 146, 196);
}

.map-link.inactive .spotlight {
    fill: #ccc;
}

.map-link .graph-edges {
    fill: none;
    color: #aaa;
    stroke: #aaa;
    transition: 200ms ease-out;
}

.map-link .graph-nodes * {
    stroke: white;
    stroke-width: 1;
    fill: #aaa;
    transition: 200ms ease-out;
}

.map-link .categories * {
    fill: white;
    opacity: 0.15;
    transition: 200ms ease-out;
}

/* Colour icon elements on hover or focus */
.map-link:hover .graph-nodes * {
    fill: currentColor;
}

.colour-none {
    color: #fff;
}

.map-link:focus .graph-nodes * {
    fill: currentColor;
}

.map-link:hover .graph-edges * {
    stroke: currentColor;
}

.map-link:hover .categories * {
    fill: currentColor;
}

.map-link:focus .categories * {
    fill: currentColor;
}

.map-link:focus {
    outline: none;
}

.map-link:focus .spotlight-outline {
    stroke: currentColor;
    filter: url(#glow-spotlight);
}
