body {
    margin: 0;
}

main {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
}

.colour-1 {
    color: rgb(20, 146, 196);
    fill: rgb(20, 146, 196);
}

.colour-2 {
    color: rgb(196, 20, 96);
    fill: rgb(196, 20, 96);
}

#toolbar {
    width: 100%;
    height: 50px;
    background-color: #f8f8fa;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
    margin-bottom: 5px;
}

#toolbar circle {
    cursor: pointer;
}

#colour-palette {
    margin: 0 auto;
    display: block;
}

.toolbar-selection:hover {
    stroke: white;
    stroke-width: 3;
}
