body {
    margin: 0;
}

main {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
}

.colour-1 {
    color: rgb(20, 146, 196);
    fill: rgb(20, 146, 196);
}

.colour-2 {
    color: rgb(196, 20, 96);
    fill: rgb(196, 20, 96);
}

.colour-3 {
    color: rgb(147, 20, 198);
    fill: rgb(147, 20, 198);
}

.colour-4 {
    color: rgb(20, 198, 95);
    fill: rgb(20, 198, 95);
}

#puzzle-chamber {
    width: 100%;
    height: 100%;
}

#chamber-window {
    fill: none;
    stroke: rgb(30, 20, 20);
    stroke-width: 72;
    filter: url(#shadow-filter);
}

.colour-palette {
    cursor: pointer;
    stroke-width: 0;
    fill: currentColor;
    stroke: currentColor;
    transition: stroke-width 100ms ease-out
}

.colour-palette:hover, .colour-palette.selected {
    stroke-width: 3;
}
