body {
    margin: 0;
}

main {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
}

.colour-1 {
    color: rgb(20, 146, 196);
    fill: rgb(20, 146, 196);
}

.colour-2 {
    color: rgb(196, 20, 96);
    fill: rgb(196, 20, 96);
}

.colour-3 {
    color: rgb(147, 21, 198);
    fill: rgb(147, 21, 198);
}

.colour-3 {
    color: rgb(21, 198, 95);
    fill: rgb(21, 198, 95);
}


#puzzle-chamber {
    width: 100%;
    height: 100%;
}

#toolbar {
    width: 100%;
    height: 50px;
    background-color: #f8f8fa;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
    margin-bottom: 5px;
}

.toolbar-selection {
    cursor: pointer;
    stroke-width: 0;
    transition: stroke-width 100ms ease-out
}

.toolbar-selection:hover {
    stroke: currentColor;
    stroke-width: 3;
}
