#puzzle {
    width: 100%;
    height: 100%;
    color: white;
}

#puzzle .empty-region {
    stroke-width: 1;
    stroke: #aaa;
    fill: white;
    transition: fill 200ms ease-out, stroke 200ms ease-out;
}

#puzzle .empty-region:hover {
    fill: currentColor;
    stroke: currentColor;
}
