#puzzle .graph-nodes {
    stroke-width: 1;
    stroke: #fff;
}

#puzzle .empty-region {
    fill: #aaa;
    cursor: pointer;
    transition: fill 200ms ease-out, stroke 200ms ease-out;
}

#puzzle .empty-region:hover {
    fill: currentColor;
}

#puzzle .graph-edges {
    stroke-width: 3;
    stroke: #aaa;
}
