body {
  margin: 0;
}

main {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
}

.colour-1 {
  color: rgb(20, 146, 196);
}

.colourable-1:hover {
  fill: rgb(20, 146, 196);
}

.colour-2 {
  color: rgb(196, 20, 96);
}

.colourable-2:hover {
  fill: rgb(196, 20, 96);
}

.colour-3 {
  color: rgb(147, 20, 198);
}

.colourable-3:hover {
  fill: rgb(147, 20, 198);
}

.colour-4 {
  color: rgb(20, 198, 95);
}

.colourable-4:hover {
  fill: rgb(20, 198, 95);
}

.menu-button {
  position: fixed;
  left: 8px;
  top: 8px;
  width: 5vw;
  height: 5vw;
}

@media (max-aspect-ratio: 1/1) {
  .menu-button {
    width: 4vh;
    height: 4vh;
  }
}

.menu-button circle {
  fill: #ddd;
}

.menu-button circle:hover {
  fill: #fff;
}