.front-page {
    background-color: rgb(30, 20, 20);
}
  
.puzzle-map {
    display: flex;
    align-content: space-evenly
}

.puzzle-section {
    min-width: 100px;
    display: flex;
    flex-direction: column;
}
  
.puzzle-map .map-link {
    margin: 1rem;
}