#puzzle .graph-nodes {
    stroke-width: 1;
    stroke: #fff;
}

#puzzle .map-regions {
    stroke-width: 0.25;
    stroke: #fff;
}

#puzzle.colour-selected .empty-region:hover {
    cursor: pointer;
    fill: currentColor;
}